@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
    --clr-primary-cyan: hsl(179, 62%, 43%);
    --clr-primary-yellow: hsl(71, 73%, 54%);
    --clr-neutral-light-gray: hsl(204, 43%, 93%);
    --clr-neutral-grayish-blue: hsl(218, 22%, 67%);

    --clr-white: hsl(0, 0%, 100%);

    --ff-primary: "Karla", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --border-radius: 5px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */

body {
    font-size: 1em;
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);

    background-color: var(--clr-neutral-light-gray);
}

.btn {
    border: none;
    width: 100%;
    padding: 0.85em 3rem;
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);

    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 1em;
}

.btn-primary {
    background-color: var(--clr-primary-yellow);
    color: var(--clr-white);
}

.btn-primary:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary-yellow);
}

/* utility */

.padding-alround {
    padding: 1.5em;
}

/* typography */

h1 {
    color: var(--clr-primary-cyan);
    padding-bottom: 1em;
    font-size: 1.25em;
}

h2 {
    color: var(--clr-neutral-light-gray);
    font-size: 1.125em;
    padding-bottom: 1em;
}

h3 {
    display: block;
    color: var(--clr-primary-yellow);
    font-size: 0.9375em;
    line-height: 1.25em;
    padding-bottom: 1.25em;
}

/* main  */

main {
    background-color: var(--clr-cyan);
    width: min(80%, 40rem);
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.component {
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
}

.join-community-section {
    background-color: var(--clr-white);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.join-community-section p {
    color: var(--clr-neutral-grayish-blue);
    font-size: 0.8125em;
    line-height: 1.7em;
    padding-bottom: 0.5em;
}

.more-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subscription-section {
    background-color: var(--clr-primary-cyan);
    color: var(--clr-white);
}

.subscription-section .pricing {
    display: flex;
    align-items: center;
}

.subscription-section .pricing .price {
    font-weight: var(--fw-bold);
    font-size: 2em;
    padding-bottom: 0.35rem;
}

.subscription-section .pricing .period {
    font-weight: var(--fw-regular);
    opacity: 0.5;
    padding-left: 0.75em;
    padding-bottom: 0.35rem;
}

.subscription-section p {
    font-size: 0.95em;
    padding-block: 0 2rem;
}

.why-us-section {
    background-color: hsla(179, 62%, 43%, 0.75);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.why-us-section ul {
    list-style: none;
}

.why-us-section li {
    color: var(--clr-white);
    font-size: 0.8125em;
    line-height: 1.5em;
    opacity: 0.7;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 550px) {
    .padding-alround {
        padding: 2em;
    }

    /* h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.15em;
    } */

    .join-community-section p {
        font-size: 1em;
    }

    .more-info-wrapper {
        flex-direction: row;
    }

    .subscription-section,
    .why-us-section {
        flex-basis: 50%;
    }

    .subscription-section {
        border-radius: 0 0 0 var(--border-radius);
    }

    .why-us-section {
        border-radius: 0 0 var(--border-radius) 0;
    }
}
